.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 150px;
  margin-bottom: 8px;
  box-shadow: 0 0 10px 0px black;

  .form-container {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .search-movie-txt {
    display: none;
  }
  input {
    width: 75%;
  }
  .header-container {
    padding: 10px 50px;

    .form-container {
      width: 50%;
    }
  }
}

@media screen and (max-width: 414px) {
  .search-movie-txt {
    display: none;
  }
  input {
    width: 55%;
  }
  .header-container {
    padding: 10px 10px;

    .form-container {
      width: 60%;
    }
  }
}
